.welcome__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100vh;
}

.welcome__msg {
  font-size: 2rem;
  color: aquamarine;
}
.input__write {
  border: none;
  border-bottom: 2px solid white;
  padding: 1rem;
  font-size: 2rem;
  color: white;
  background-color: transparent;
  outline: none;
}
